<% if user_signed_in? %>

<p><strong>Reading list:</strong></p>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Content</th>
  </tr>
<% for article in @articles %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.url %></td>

    <td><%= link_to "Show", article %></td>
    <td><%= link_to "Destroy", article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "New Article", new_article_path %></p>

<% else %>

<h1>Cubbyhole</h1>

<p><strong>Sign up or login through one of these services:</strong></p>

<p><a href="/auth/twitter" class="auth_provider">Twitter</a><br />
<a href="/auth/facebook" class="auth_provider">Facebook</a></p>

<p><strong>Don't use these services? <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> with a password.</strong></p>

<% end %>